{% extends 'base.html.twig' %}

{% block title %}courses/study_on {% endblock %}

{% block body %}
    <h1>Course index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Название</th>
                <th>Описание</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for course in courses %}
            <tr>
                <td>
                    <a class="course-link" href="{{ path('app_course_show', {'id': course.id}) }}">{{ course.name }}</a>
                </td>
                <td>{{ course.description }}</td>
                <td>
                    <a href="{{ path('app_course_show', {'id': course.id}) }}">Показ.</a>
                    <a href="{{ path('app_course_edit', {'id': course.id}) }}">Ред.</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Курсов нет</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_course_new') }}">Добавить</a>
{% endblock %}
